Thingworx/Thingworx.war
Thingworx/license.bin
UploadThing/UploadThing_Install*.zip
ThingPredictor/prediction-with-analysis.yml
ThingPredictor/thingpredictor.jar
ThingworxStorage
ThingworxBackupStorge

